<!DOCTYPE html>
<html ng-app="employeeApp">
<head>
    <title>Employee Management</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="EmployeeController">

<h2>Employee List</h2>

<div class="search-container">
    <input type="text" ng-model="searchTerm" ng-change="searchEmployees()" placeholder="Cari berdasarkan nama..." class="search-input">
</div>
<div class="button-container">
    <button ng-click="openModal()" class="add-btn">Tambah Karyawan</button>
</div>

<!-- Modal -->
<div ng-show="showModal" class="modal-overlay" ng-click="closeModal()">
    <div class="modal-content" ng-click="$event.stopPropagation()">
        <span class="close-btn" ng-click="closeModal()">&times;</span>
        <h3>{{ isEdit ? 'Edit Employee' : 'Tambah Karyawan' }}</h3>
        <form ng-submit="saveEmployee()">
            <input type="text" ng-model="employee.name" placeholder="Name" required>
            <input type="text" ng-model="employee.position" placeholder="Position">
            <input type="number" ng-model="employee.salary" placeholder="Salary" required>
            <select ng-model="employee.departmentId" ng-options="d.DepartmentID as d.DepartmentName for d in departments"required>
                <option value="">-- Select Department --</option>
            </select>
            <button type="submit">{{ isEdit ? 'Update' : 'Add' }}</button>
        </form>
    </div>
</div>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="emp in employees">
        <td>{{ emp.Name }}</td>
        <td>{{ emp.Position }}</td>
        <td>{{ emp.DepartmentName || 'N/A' }}</td>
        <td>{{ emp.Salary }}</td>
        <td>
            <div class="action-buttons">
                <button ng-click="editEmployee(emp)">Edit</button>
                <button ng-click="deleteEmployee(emp.EmployeeID)">Delete</button>
            </div>
        </td>
    </tr>
</table>

<div class="pagination" ng-show="totalPages > 1">
    <button ng-click="prevPage()" ng-disabled="currentPage <= 1">Previous</button>
    <span>Page {{ currentPage }} - {{ totalPages }}</span>
    <button ng-click="nextPage()" ng-disabled="currentPage >= totalPages">Next</button>
</div>

</body>
</html>
